<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    
<!--    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="classpath:jdbc.properties"/>-->
    
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
            <property name="driverClassName" value="com.mysql.jdbc.Driver" />
            <property name="url" value="jdbc:mysql://localhost:3306/pustaka" />
            <property name="username" value="pustaka123" />
            <property name="password" value="pustaka123" />
            <property name="initialSize" value="3" />
            <property name="maxActive" value="10" />
        </bean>
    
        <!--Session Factory Declaration  -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

            <property name="dataSource" ref="dataSource" />
            <property name="packagesToScan" >
                <list>
                    <value>com.pustaka.common</value>
                    <value>com.pustaka.model</value>
                </list>
            </property>

            <property name="hibernateProperties">
                    <props>
                        <!-- 
             <prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2005Dialect</prop>
                         -->
             <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
             <prop key="hibernate.show_sql">true</prop>
                             <!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->                 
                    </props>
            </property>
            
	</bean>
  			  
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
 		<property name="sessionFactory" ref="sessionFactory"/>
        </bean>    
   	<tx:annotation-driven />
        
        <context:component-scan base-package="com.pustaka"/>
</beans>
